<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wds.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Wds.Properties.Settings>
            <setting name="JsonDevicesFile" serializeAs="String">
                <value>Data/Correct.json</value>
            </setting>
            <setting name="ValidFormFactors" serializeAs="String">
                <value>CANDYBAR,SMARTPHONE,PHABLET,CLAMSHELL</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>Data/Log.log</value>
            </setting>
        </Wds.Properties.Settings>
    </userSettings>
</configuration>